<h2>List of Students:</h2>

<ul>
  <% @students.each do |student| %>
  <li> <%= link_to student.name, student_path(student) %>
    -- Class Number: <%= student.class_number %>
    <hr>
  </li>
  <% end %>
</ul>
