<h2>Plank Club LeaderBoard</h2>
<br>
<br>
<% @planks.each do |plank| %>
  <h4> <%= plank.planktype %> </h4>
    <% studentPlank = plank.student_planks.order(duration: :asc).last %>
    <ol><%= studentPlank.student.name%> : <%= studentPlank.duration %></ol>
<% end %>
