<%= image_tag("tito_rolled.png") %>
<h1>Can't do that! You're Not Tito!!!</h1>
<iframe width="#{width}" height="#{height}" src="http://www.youtube.com/embed/dQw4w9WgXcQ"       frameborder="0"></iframe>
