<h1><%= link_to "Go Back", student_path(@student) %></h1>
<%= image_tag("tito_rolled.png") %>
<h2>Can't do that! You're Not Tito!!!</h2>
<iframe width="#{width}" height="#{height}" src="http://www.youtube.com/embed/dQw4w9WgXcQ"       frameborder="0"></iframe>
