@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "background";

.center {
    margin: 0;
    width: 50%;
    border: 3px solid green;
    padding: 0;
}

.mx-auto {
  margin: auto;
  color: auto;
  background-color: rgba(101,124,160, 0.2);
  border-radius: 15px;
  padding: 15px;
}

.new-user-button {
  font-size: 2em;
  display: inline-block;
  transition: 10s;

}
